.card{
  width: 70px;
  height: 90px;
  background-color: red;
  border-radius: 10px;
  float: left;
  margin: 5px;
}

.clear{
  clear: both;
}/* clear not allowing an element floating */

.container{
  width: 1200px;
  /* background-color: gold;*/
  margin: 0 auto;
}

.row{
  margin: 1% 0;
  overflow: auto;
}

.col{
  float: left;
  height: 70px;
  text-align: center;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.col-100{
  width: 100%;
  background-color: red;
}

.col-90{
  width: 90%;
  background-color: purple;
}

.col-10{
  width: 10%;
  background-color: yellow;
}

.col-80{
  width: 80%;
  background-color: green;
}

.col-20{
  width: 20%;
  background-color: blue;
}

.col-30{
  width: 30%;
  background-color: orange;
}

.col-40{
  width: 40%;
  background-color: violet;
}

.col-50{
  width: 50%;
  background-color: brown;
}

body{
  font-size: 20px;
}